<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my_shop.mapper.CommodityMapper">
  <resultMap id="BaseResultMap" type="com.my_shop.entity.Commodity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="in_stock" jdbcType="INTEGER" property="inStock" />
    <result column="sales_volume" jdbcType="INTEGER" property="salesVolume" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, price, description, img_url, discount, in_stock, sales_volume
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_commodity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_commodity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.my_shop.entity.Commodity">
    insert into tb_commodity (id, name, price, 
      description, img_url, discount, 
      in_stock, sales_volume)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, 
      #{description,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{discount,jdbcType=DOUBLE}, 
      #{inStock,jdbcType=INTEGER}, #{salesVolume,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.my_shop.entity.Commodity">
    insert into tb_commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="inStock != null">
        in_stock,
      </if>
      <if test="salesVolume != null">
        sales_volume,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="inStock != null">
        #{inStock,jdbcType=INTEGER},
      </if>
      <if test="salesVolume != null">
        #{salesVolume,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my_shop.entity.Commodity">
    update tb_commodity
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="inStock != null">
        in_stock = #{inStock,jdbcType=INTEGER},
      </if>
      <if test="salesVolume != null">
        sales_volume = #{salesVolume,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my_shop.entity.Commodity">
    update tb_commodity
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      description = #{description,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      discount = #{discount,jdbcType=DOUBLE},
      in_stock = #{inStock,jdbcType=INTEGER},
      sales_volume = #{salesVolume,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCommdityList" parameterType="int" resultType="commodity">
    select id,name,price,img_url imgUrl from tb_commodity limit #{page},5
  </select>

  <select id="selectCommdityById" parameterType="int" resultType="commodity">
    select name,price,img_url imgUrl from tb_commodity where id =#{id}
  </select>

  <select id="selectCommdityCount"  resultType="int">
    select count(id) from tb_commodity
  </select>

  <select id="selectCommdityBySummary"  parameterType="string" resultMap="BaseResultMap">
    select id,name,price,img_url from tb_commodity where name like "%"#{summary}"%"
  </select>


  <select id="selectCommdityOrderBy"  parameterType="string" resultMap="BaseResultMap">
    select id,name,price,img_url from tb_commodity order by price desc
  </select>

</mapper>