<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my_shop.mapper.ShoppingCartMapper">
  <resultMap id="BaseResultMap" type="com.my_shop.entity.ShoppingCart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="commodity_id" jdbcType="INTEGER" property="commodityId" />
    <result column="commodity_number" jdbcType="INTEGER" property="commodityNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    id, customer_id, commodity_id, commodity_number
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_shopping_cart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_shopping_cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.my_shop.entity.ShoppingCart">
    insert into tb_shopping_cart (id, customer_id, commodity_id, 
      commodity_number)
    values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{commodityId,jdbcType=INTEGER}, 
      #{commodityNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.my_shop.entity.ShoppingCart">
    insert into tb_shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
      <if test="commodityNumber != null">
        commodity_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityNumber != null">
        #{commodityNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.my_shop.entity.ShoppingCart">
    update tb_shopping_cart
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityNumber != null">
        commodity_number = #{commodityNumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.my_shop.entity.ShoppingCart">
    update tb_shopping_cart
    set customer_id = #{customerId,jdbcType=INTEGER},
      commodity_id = #{commodityId,jdbcType=INTEGER},
      commodity_number = #{commodityNumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCartByCustomer" parameterType="int" resultMap="CommdityResultMap">
    select id,commodity_id,commodity_number
    from tb_shopping_cart
     where customer_id=#{customer_id}
  </select>

  <resultMap id="CommdityResultMap" type="com.my_shop.vo.ShowCartCommodity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="commodity_id" jdbcType="INTEGER" property="commodityId" />
    <result column="commodity_number" jdbcType="INTEGER" property="commodityNumber" />
    <association property="commodity" column="commodity_id"
                 select="com.my_shop.mapper.CommodityMapper.selectCommdityById">
    </association>
  </resultMap>

  <select id="selectByCustomerAndCommodity" parameterType="shoppingcart" resultMap="BaseResultMap">
    select * from tb_shopping_cart where
     customer_id = #{customerId} and commodity_id= #{commodityId}
  </select>
</mapper>